<!DOCTYPE html>
<html>

<head>
  <title>Trang Chủ</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <link rel="stylesheet" type="text/css" href="assets/css/font.css">
  <link rel="stylesheet" type="text/css" href="assets/css/li-scroller.css">
  <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
  <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="assets/css/theme.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>
  </a>
  <div class="container">
    <% include header %>
      <section id="newsSection">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="latest_newsarea">
              <span>Tin mới nhất</span>
              <ul id="ticker01" class="news_sticker">
                <%for(var i in arr){ %>
                  <li>
                    <a href="/content/<%-arr[i]._id%>">
                      <img src="<%=arr[i].Hinh%>" alt="">
                      <%-arr[i].TieuDe%>
                    </a>
                  </li>
                  <%};%>
              </ul>
              <div class="social_area">
                <ul class="social_nav">
                  <li class="facebook">
                    <a href="#"></a>
                  </li>
                  <li class="twitter">
                    <a href="#"></a>
                  </li>
                  <li class="flickr">
                    <a href="#"></a>
                  </li>
                  <li class="pinterest">
                    <a href="#"></a>
                  </li>
                  <li class="googleplus">
                    <a href="#"></a>
                  </li>
                  <li class="vimeo">
                    <a href="#"></a>
                  </li>
                  <li class="youtube">
                    <a href="#"></a>
                  </li>
                  <li class="mail">
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sliderSection">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="slick_slider">
              <%for(var i in arr){ %>
                <div class="single_iteam">
                  <a href="/content/<%-arr[i]._id%>">
                    <img src="<%=arr[i].Hinh%>" alt="">
                  </a>
                  <div class="slider_article">
                    <h2>
                      <a class="slider_tittle" href="/content/<%-arr[i]._id%>">
                        <%-arr[i].TieuDe%>
                      </a>
                    </h2>
                    <p><%-arr[i].NoiDung_text.slice(0,100)%>.......</p>
                  </div>
                </div>
                <%};%>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="latest_post">
              <h2>
                <span>Bài đăng mới nhất</span>
              </h2>
              <div class="latest_post_container">
                <div id="prev-button">
                  <i class="fa fa-chevron-up"></i>
                </div>
                <ul class="latest_postnav">
                  <li>
                    <%for(var i in arr){ %>
                      <%if(i>5 && i<11){%>
                      <div class="media">
                        <a href="/content/<%-arr[i]._id%>" class="media-left">
                          <img alt="" src="<%=arr[i].Hinh%>"> </a>
                        <div class="media-body">
                          <a href="/content/<%-arr[i]._id%>" class="catg_title">
                            <%-arr[i].TieuDe%>
                            <br>
                            <h6><%-arr[i].ThoiGian.format('dddd ,yyyy-mm-dd HH:MM:ss')%></h6>
                          </a>
                        </div>
                      </div>
                      <%}};%>
                  </li>
                </ul>
                <div id="next-button">
                  <i class="fa  fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contentSection">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
              <div class="single_post_content">
                <h2>
                  <span>kinh doanh</span>
                </h2>
                <div class="single_post_content_left">
                  <ul class="business_catgnav  wow fadeInDown">
                    <li>
                      <%for(var i in arr){ %>
                        <%if(i>1 && i<3){%>
                        <figure class="bsbig_fig">
                          <a href="/content/<%-arr[i]._id%>" class="featured_img">
                            <img alt="" src="<%=arr[i].Hinh%>">
                            <span class="overlay"></span>
                          </a>
                          <figcaption>
                            <a href="/content/<%-arr[i]._id%>">
                              <%-arr[i].TieuDe%>
                            </a>
                          </figcaption>
                          <p>
                            <%-arr[i].NoiDung_text.slice(0,100);%>....</p>
                        </figure>
                        <%}};%>
                    </li>
                  </ul>
                </div>
                <div class="single_post_content_right">
                  <ul class="spost_nav">
                    <li>
                      <%for(var i in arr){ %>
                        <%if(i>2 && i<8){%>
                        <div class="media">
                          <a href="/content/<%-arr[i]._id%>" class="media-left">
                            <img alt="" src="<%=arr[i].Hinh%>"> </a>
                          <div class="media-body">
                            <a href="/content/<%-arr[i]._id%>" class="catg_title">
                              <%-arr[i].TieuDe%>
                            </a>
                          </div>
                        </div>
                        <%}};%>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="fashion_technology_area">
                <div class="fashion">
                  <div class="single_post_content">
                    <h2>
                      <span>Thời sự</span>
                    </h2>
                    <ul class="business_catgnav wow fadeInDown">
                      <li>
                        <%for(var i in arr){ %>
                          <%if(i>-1&&i<1){%>
                          <figure class="bsbig_fig">
                            <a href="/content/<%-arr[i]._id%>" class="featured_img">
                              <img alt="" src="<%=arr[i].Hinh%>">
                              <span class="overlay"></span>
                            </a>
                            <figcaption>
                              <a href="/content/<%-arr[i]._id%>">
                                <%-arr[i].TieuDe%>
                              </a>
                            </figcaption>
                            <p>
                              <%-arr[i].NoiDung_text.slice(0,100);%>....</p>
                          </figure>
                          <%}};%>
                      </li>
                    </ul>
                    <ul class="spost_nav">
                      <li>
                        <%for(var i in arr){ %>
                          <%if(i>10&&i<30){%>
                          <div class="media wow fadeInDown">
                            <a href="/content/<%-arr[i]._id%>" class="media-left">
                              <img alt="" src="<%=arr[i].Hinh%>"> </a>
                            <div class="media-body">
                              <a href="/content/<%-arr[i]._id%>" class="catg_title">
                                <%-arr[i].TieuDe%>
                              </a>
                            </div>
                          </div>
                          <%}};%>
                    </ul>
                  </div>
                </div>
                <div class="technology">
                  <div class="single_post_content">
                    <h2>
                      <span>thể thao</span>
                    </h2>
                    <ul class="business_catgnav">
                      <li>
                        <%for(var i in arr){ %>
                          <%if(i>29&&i<31){%>
                          <figure class="bsbig_fig">
                            <a href="/content/<%-arr[i]._id%>" class="featured_img">
                              <img alt="" src="<%=arr[i].Hinh%>">
                              <span class="overlay"></span>
                            </a>
                            <figcaption>
                              <a href="/content/<%-arr[i]._id%>">
                                <%-arr[i].TieuDe%>
                              </a>
                            </figcaption>
                            <p>
                              <%-arr[i].NoiDung_text.slice(0,100);%>....</p>
                          </figure>
                          <%}};%>
                      </li>
                    </ul>
                    <ul class="spost_nav">
                      <%for(var i in arr){ %>
                        <%if(i>30&&i<50){%>
                        <div class="media wow fadeInDown">
                          <a href="/content/<%-arr[i]._id%>" class="media-left">
                            <img alt="" src="<%=arr[i].Hinh%>"> </a>
                          <div class="media-body">
                            <a href="/content/<%-arr[i]._id%>" class="catg_title">
                              <%-arr[i].TieuDe%>
                            </a>
                          </div>
                        </div>
                        <%}};%>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-1 col-sm-1">
            <aside class="right_content">
              <div class="single_sidebar">
                <h2>
                  <span>Mới nhất</span>
                </h2>
                <ul class="spost_nav">
                  <%for(var i in arr){ %>
                    <%if(i>50&&i<76){%>
                    <li>
                      <div class="media wow fadeInDown">
                        <a href="/content/<%-arr[i]._id%>" class="media-left">
                          <img alt="" src="<%=arr[i].Hinh%>"> </a>
                        <div class="media-body">
                          <a href="/content/<%-arr[i]._id%>" class="catg_title">
                            <%-arr[i].TieuDe%>
                          </a>
                        </div>
                      </div>
                    </li>
                    <%}};%>
                </ul>
              </div>
              <div class="single_sidebar">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#category" aria-controls="home" role="tab" data-toggle="tab">Thể loại
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a>
                  </li>
                  <li role="presentation">
                    <a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Bình luận
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="category">
                    <ul>
                      <li class="cat-item">
                        <a href="#">Thể thao</a>
                      </li>
                      <li class="cat-item">
                        <a href="#">Thời trang</a>
                      </li>
                      <li class="cat-item">
                        <a href="#">Kinh doanh</a>
                      </li>
                      <li class="cat-item">
                        <a href="#">Kỹ thuật</a>
                      </li>
                      <li class="cat-item">
                        <a href="#">Đời sống &amp; Phong cách</a>
                      </li>
                    </ul>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="video">
                    <div class="vide_area">
                      <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="comments">
                    <ul class="spost_nav">
                      <li>
                        <div class="media wow fadeInDown">
                          <a href="pages/single_page.ejs" class="media-left">
                            <img alt="" src="images/post_img1.jpg"> </a>
                          <div class="media-body">
                            <a href="pages/single_page.ejs" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a href="pages/single_page.ejs" class="media-left">
                            <img alt="" src="images/post_img2.jpg"> </a>
                          <div class="media-body">
                            <a href="pages/single_page.ejs" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a href="pages/single_page.ejs" class="media-left">
                            <img alt="" src="images/post_img1.jpg"> </a>
                          <div class="media-body">
                            <a href="pages/single_page.ejs" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="media wow fadeInDown">
                          <a href="pages/single_page.ejs" class="media-left">
                            <img alt="" src="images/post_img2.jpg"> </a>
                          <div class="media-body">
                            <a href="pages/single_page.ejs" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single_sidebar wow fadeInDown">
                <h2>
                  <span>Thế giới</span>
                </h2>
                <a class="sideAdd" href="#">
                  <img src="images/add_img.jpg" alt="">
                </a>
              </div>
              <div class="single_sidebar wow fadeInDown">

              </div>
              <div class="single_sidebar wow fadeInDown">

              </div>
            </aside>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="footer_top">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInLeftBig">
                <h2>Giới thiệu</h2>
                <p>Trang web của chúng tôi luôn mang tới cho mọi người về những tin mới nhất, và nội dung hay với những bài viết liên quan về những sở thích khi đọc báo</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInDown">
                <h2>Phụ lục</h2>
                <ul class="tag_nav">
                  <li>
                    <a href="#">Trò chơi</a>
                  </li>
                  <li>
                    <a href="#">Thể thao</a>
                  </li>
                  <li>
                    <a href="#">Thời trang</a>
                  </li>
                  <li>
                    <a href="#">Kinh doanh</a>
                  </li>
                  <li>
                    <a href="#">Đời sống &amp; Phong cách</a>
                  </li>
                  <li>
                    <a href="#">Kỹ thuật</a>
                  </li>
                  <li>
                    <a href="#">Hình ảnh</a>
                  </li>
                  <li>
                    <a href="#">Gỉai trí</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="footer_widget wow fadeInRightBig">
                <h2>Liên hệ</h2>
                <p>Vui lòng liện hệ với chúng tôi khi bạn cảm thấy thắc mắc hoặc có câu hỏi gì thì hãy cho chúng tôi biết. Cảm ơn</p>
                <address>
                  Số 1 Võ Văn Ngân, Phường Linh Chiểu, Quận Thủ Đức. Số điện thoại : 0127863549. Fax: 01227
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <p class="copyright">Copyright &copy; 2045
            <a href="index.ejs">NewsFeed</a>
          </p>
          <p class="developer">Developed By Wpfreeware</p>
        </div>
      </footer>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/jquery.li-scroller.1.0.js"></script>
  <script src="assets/js/jquery.newsTicker.min.js"></script>
  <script src="assets/js/jquery.fancybox.pack.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>