<!doctype html>
<html>

<head>
    <title>Lịch Sữ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>

<body>

    <div class="container">
        <% include header %>
                <ul class="spost_nav">
                    <h2>Lịch sử</h2>
                    <%for(var item of data){%>
                        <%for(var time of lichSu){%>
                            <%if(item._id == time.ID_baibao){%>
                                <div class="media wow fadeInDown">
                                    <a href="/content/<%=item._id%>" class="media-left">
                                        <img alt="" src="<%=item.Hinh%>"> </a>
                                    <div class="media-body">
                                        <a href="/content/<%=item._id%>" class="catg_title">
                                            <%-item.TieuDe%>
                                        </a>
                                        <br>
                                        <%-time.ThoiGian.format('dddd , yyyy-mm-dd HH:MM:ss')%>
                                    </div>
                            <%}%>
                        <%}%>
                <%}%>
                </ul>
            </div>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/wow.min.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/slick.min.js"></script>
            <script src="assets/js/jquery.li-scroller.1.0.js"></script>
            <script src="assets/js/jquery.newsTicker.min.js"></script>
            <script src="assets/js/jquery.fancybox.pack.js"></script>
            <script src="assets/js/custom.js"></script>
</body>

</html>